html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  height: 100vh;
}

:root {
  --sk-color: black;
  --sk-size: 2.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerjt {
  background: #98fb98;
  border-radius: 40px;
  color: black;
  padding: 40px;
}

.container > .row > .headerjt {
  animation: swashIn 2900ms both;
}

.container > .row > .searchbox-position {
  animation: tinInRight 2900ms both;
}

@keyframes tinInRight {
  0% {
    opacity: 0;
    transform: scale3d(1, 1, 1) translateX(900%);
  }

  50%,
  70%,
  90% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1) translateX(0);
  }

  60%,
  80%,
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1) translateX(0);
  }
}

@keyframes swashIn {
  0% {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }

  90% {
    opacity: 1;
    transform: scale3d(0.9, 0.9, 0.9);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.jumbotron {
  height: 24%;
  padding: 4.35% 0;
  margin: 0;
  background: black;
  color: floralwhite;
}

.font-header_1 {
  font-family: "Brygada 1918", serif;
  font-weight: 700;
  font-size: 70px;
}

.font-header_2 {
  font-family: "Brygada 1918", serif;
  font-weight: 400;
}

.main {
  height: 52%;
}

.row-content {
  height: 100%;
  margin: 0 auto;
  padding: 4.5% 0;
}

@media (min-width: 1200px) {
  .searchbox-position {
    padding: 0rem 5.75rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .searchbox-position {
    padding: 0rem 7rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .searchbox-position {
    padding: 0rem 4.5rem;
  }
}

.result {
  background: #98fb98;
  color: black;
  border-radius: 60px;
  width: 400px;
  padding: 30px;
}
@media screen and (max-width: 767px) {
  .searchbox-position {
    padding: 0rem;
  }
}

.placeholder-color::placeholder {
  color: transparent;
}

.highlight-result {
  color: #5350ffcc;
}

.title {
  font-size: 40px;
}

.quote-size {
  font-size: 2rem;
}

.stats-size {
  font-size: 1rem;
}

.footer {
  height: 24%;
  background: linear-gradient(to bottom right, #dc50ffcc, #5350ffcc);
  margin: 0 auto;
  padding: 4.2% 0;
}

.btn-third-dimension {
  box-shadow: 0.125rem 0.125rem 0 0.125rem #5350ffcc;
  transition: transform 0.2s ease-in;
}

.btn-third-dimension:hover {
  box-shadow: 0 0 0 #5350ffcc, inset 0.3125rem 0.3125rem 0.3125rem #5350ffcc;
  transform: translate(0.25rem, 0.25rem);
}

@media (min-height: 376px) and (max-height: 652px) {
  .jumbotron {
    height: 28%;
  }
  .footer {
    height: 20%;
  }
}

@media screen and (max-height: 375px) {
  .jumbotron {
    height: 26%;
    padding: 0;
  }
  .main {
    height: 60%;
  }
  .title {
    margin-bottom: 0;
  }
  .footer {
    height: 14%;
    padding: 0.25rem;
  }
}
